<%- include Dheader -%>
    <div class="col-lg-8">
        <table class="table text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=1;i<=6;i++){ %>
                    <tr>
                        <th scope="row"><%-i%></th>
                        <td>món ngon</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <div class="col-lg-2">
        <div style="position:sticky">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item" style="margin-bottom: 3px;">
                    <i class="fas fa-envelope-square" style="margin-right: 7px;"></i>
                    metroairplane@gmail.com
                </li>
                <li class="nav-item" style="margin-bottom: 3px;">
                    <i class="fas fa-phone-square" style="margin-right: 7px;"></i>
                    01238822596
                </li>
                <li class="nav-item" style="margin-bottom: 3px;">
                    <i class="fab fa-facebook-square" style="margin-right: 7px;"></i>
                    www.fb.com/toan.doan.161
                </li>
                <li class="nav-item" style="margin-bottom: 3px;">
                    <i class="fas fa-map-marker-alt" style="margin-right: 7px;"></i>
                    39 Hiệp Nhất, p.4, q.TB, TpHCM
                </li>
            </ul>
        </div>
    </div>
<%- include Dfooter -%>    