<%- include Layouts/Header -%>
    <div class="margin" style="height: 66px;"></div>
    <div class="page_content">
        <div class="row">
            <div class="col-lg-2 text-white bg-secondary" style="padding: 0px;">
                <div style="position:sticky">
                    <div style="background-color: #343a40; padding:16px; margin-bottom: 15px;">
                        <h4 class="text-center" style="margin-bottom:0;">DASHBOARD</h4>
                    </div>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item" style="margin-bottom: 3px;">
                            <a href="#" style="text-decoration:none;">
                                <h5 class="text-center" style="color: white">
                                    Người Dùng
                                </h5>
                            </a>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li class="nav-item" style="margin-bottom: 3px;">
                            <a href="#" style="text-decoration:none;">
                                <h5 class="text-center" style="color: white">
                                    Người Dùng
                                </h5>
                            </a>
                            <div class="dropdown-divider"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                  
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-lg-2">
                <div style="position:sticky">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item" style="margin-bottom: 3px;">
                            <i class="fas fa-envelope-square" style="margin-right: 7px;"></i> 
                            metroairplane@gmail.com
                        </li>
                        <li class="nav-item" style="margin-bottom: 3px;">
                            <i class="fas fa-phone-square" style="margin-right: 7px;"></i>
                            01238822596
                        </li>
                        <li class="nav-item" style="margin-bottom: 3px;">
                            <i class="fab fa-facebook-square" style="margin-right: 7px;"></i>
                            www.fb.com/toan.doan.161
                        </li>
                        <li class="nav-item" style="margin-bottom: 3px;">
                            <i class="fas fa-map-marker-alt" style="margin-right: 7px;"></i>
                            39 Hiệp Nhất, p.4, q.TB, TpHCM
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<%- include Layouts/Footer -%>