<%- include ../layouts/Header -%>
<div class="margin" style="height: 66px;"></div>
<div class="page_content">
    <div class="row">
        <div class="col-lg-2 text-white bg-secondary" style="padding: 0px;">
            <div style="position:sticky">
                <div style="background-color: #343a40; padding:16px; margin-bottom: 15px;">
                    <h4 class="text-center" style="margin-bottom:0;">DASHBOARD</h4>
                </div>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item" style="margin-bottom: 3px;">
                        <a href="/admin/home" style="text-decoration:none;">
                            <h5 class="text-center" style="color: white">
                                Home
                            </h5>
                        </a>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li class="nav-item" style="margin-bottom: 3px;">
                        <a href="/admin/nguoi-dung" style="text-decoration:none;">
                            <h5 class="text-center" style="color: white">
                                Người Dùng
                            </h5>
                        </a>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li class="nav-item" style="margin-bottom: 3px;">
                        <a href="/admin/chuyen-muc" style="text-decoration:none;">
                            <h5 class="text-center" style="color: white">
                                Chuyên Mục
                            </h5>
                        </a>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li class="nav-item" style="margin-bottom: 3px;">
                        <a href="/admin/tag" style="text-decoration:none;">
                            <h5 class="text-center" style="color: white">
                                Tag
                            </h5>
                        </a>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li class="nav-item" style="margin-bottom: 3px;">
                        <a href="/admin/blog" style="text-decoration:none;">
                            <h5 class="text-center" style="color: white">
                                Blog
                            </h5>
                        </a>
                        <div class="dropdown-divider"></div>
                    </li>
                </ul>
            </div>
        </div>