<%- include Layouts/Header -%>
<div class="header-image">
    <img src="/img/himage.jpg" alt="">
</div>
<div class="page_content">
    <div class="container">
        <div class="row row-lg-eq-height">
            <div class="col-lg-8">
                <h1 class="Tua-de">Chàng trai hẹn hò với ái nữ nhà đại gia Minh Nhựa phải
                    giàu và ngầu cỡ nào? Đây là câu trả lời!
                </h1>
                <div class="small">
                    <span class="mr-2" style="color:#1ebba3">Lifestyle</span>&bullet;
                    <span class="mr-2 ml-2">March 15, 2018 </span> &bullet;
                    <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                </div>
                <div class="dropdown-divider" style="border-top: 2px solid #eaebed; width: 100%"></div>
                <div class="tom-tat">
                    <p>
                        <b>Nếu so về độ giàu có, sang chảnh thì bạn trai của Joyce Phạm cũng không thua cô nàng li nào
                            đâu.</b>
                    </p>
                </div>
                <div class="tag">
                    <ul>
                        <li><a href="#">Con gái đại gia Minh Nhựa vừa hot trên Instagram đã bị người yêu cũ lập hội nói
                                xấu?</a></li>
                        <li><a href="#">Những ái nữ Việt sinh ra đã ở vạch đích: người xinh đẹp nức tiếng, người sớm
                                hưởng gen kinh doanh cực mạnh</a></li>
                        <li><a href="#">Đẳng cấp con gái đại gia Minh Nhựa: 20 tuổi tự sắm túi Chanel hơn 100 triệu,
                                khoe nhẹ siêu xe và giày hiệu cũng đủ nổi khắp Instagram</a></li>
                    </ul>
                </div>
                <div class="image">
                    <img src="/img/computers.png" style="width:100%;">
                </div>
                <div class="main">
                    Trai xinh gái đẹp luôn có sức hút vô cùng lớn, vậy còn trai xinh gái đẹp cộng thêm giàu có thì sao?
                    Đương nhiên là càng được ủng hộ hơn. Không chỉ vậy, dân tình còn rất tò mò về cuộc sống sang chảnh
                    dát vàng cũng như những món đồ mà cô bạn thường mua sắm.

                    Mới đây, sau khi lộ bức ảnh tạo dáng cool ngầu bên siêu xe 80 tỷ Pagani Huayra và dàn giày sneaker
                    đắt đỏ, profile khủng của con gái đại gia Minh Nhựa - Phạm Trần Nguyễn Minh Anh (Joyce Phạm) đã bị
                    lộ ra. Người người xuýt xoa khen ngợi cô bạn vì nhan sắc xinh đẹp, tài kinh doanh thừa hưởng từ bố,
                    nhà nhà thắc mắc về đời sống tình cảm của girl xinh này. Ừa thì tính ra năm nay Joyce Phạm cũng đã
                    20 tuổi, kiểu gì mà chả yêu ai.
                    <img src="/img/computers.png" style="width:100%;">
                    Trên trang Instagram của mình, ái nữ nhà Nhựa Long Thành không ngần ngại up ảnh tình tứ cùng bạn
                    trai Tâm Nguyễn. Được biết, mối quan hệ này đã kéo dài tầm 4-5 năm và từng có thời gian đứt quãng
                    khi cô bạn sinh năm 2000 đi du học ở Mỹ. Hiện tại, couple siêu cấp đáng yêu này đang cùng nhau gầy
                    dựng công việc kinh doanh và tận hưởng cuộc sống cùng nhau.

                    Ngoài đam mê sưu tầm giày hiệu và đồ chơi mô hình Bearbrick, cả Joyce Phạm - người yêu Tâm Nguyễn
                    cùng thích đi du lịch và khám phá đó đây. Lúc thì đi trong nước như Đà Lạt, lúc lại thấy họ up con
                    ảnh cool ngầu ở Thái Lan. Đúng là yêu đương kiểu richkid, vừa tình lại vừa sang chảnh khiến dân tình
                    nhìn vào cứ phải là ghen tỵ muốn xỉu.
                </div>
                <div class="dropdown-divider" style="border-top: 2px solid #eaebed; width: 100%"></div>
                <div class="tac-gia">
                    <a href="#">Phan Phương Uyên</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar" style="background: #ededed;">
                    <section class="popular">
                        <h4>Popular Posts</h4>
                        <% for(var i=1;i<=10;i++){ %>
                        <div class="card" style="width: auto;margin-bottom: 15px;">
                            <div class="row no-gutters">
                                <div class="col-md-4" style="padding: 0;">
                                    <img src="/img/client1.png" class="card-img" alt="..."
                                        style="width:auto; height: 100px;">
                                </div>
                                <div class="col-md-8" style="padding: 0;">
                                    <div class="card-body" style="padding: 0;">
                                        <h5 class="card-title" style="margin-bottom: 0;">Lorem ipsum dolor sit amet
                                            Lorem ipsum</h5>
                                        <span class="mr-2" style="color:#1ebba3">Lifestyle</span>&bullet;
                                        <span class="mr-2 ml-2">March 15, 2018 </span> &bullet;
                                        <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </section>
                    <section class="categories">
                        <h4>Categories</h4>
                        <a href="#">
                            <i class="fas fa-apple-alt" style="margin-left: 10px;"></i>
                            Trái cây
                        </a>

                        <a href="#">
                            <i class="fas fa-seedling" style="margin-left: 10px;"></i>
                            Rau Xanh
                        </a>

                        <a href="#">
                            <i class="fas fa-drumstick-bite" style="margin-left: 10px;"></i>
                            Món Ngon
                        </a>

                        <a href="#">
                            <i class="fab fa-affiliatetheme" style="margin-left: 10px;"></i>
                            Tôm Cá
                        </a>

                        <a href="#">
                            <i class="fab fa-cloudscale" style="margin-left: 10px;"></i>
                            Ốc Cua
                        </a>

                        <a href="#">
                            <i class="fas fa-mitten" style="margin-left: 10px;"></i>
                            Món Biển
                        </a>
                    </section>
                    <section class="farm">
                        <h4>Nông Sản</h4>
                        <% for(var i=1;i<=7;i++){ %>
                        <div class="card" style="width: auto;margin-bottom: 15px;">
                            <div class="row no-gutters">
                                <div class="col-md-4" style="padding: 0;">
                                    <img src="/img/client1.png" class="card-img" alt="..."
                                        style="width:auto; height: 100px;">
                                </div>
                                <div class="col-md-8" style="padding: 0;">
                                    <div class="card-body" style="padding: 0;">
                                        <h5 class="card-title" style="margin-bottom: 0;">Lorem ipsum dolor sit amet
                                            Lorem ipsum</h5>
                                        <span class="mr-2" style="color:#1ebba3">Lifestyle</span>&bullet;
                                        <span class="mr-2 ml-2">March 15, 2018 </span> &bullet;
                                        <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </section>
                    <section class="ocean">
                        <h4>Hải Sản</h4>
                        <% for(var i=1;i<=7;i++){ %>
                        <div class="card" style="width: auto;margin-bottom: 15px;">
                            <div class="row no-gutters">
                                <div class="col-md-4" style="padding: 0;">
                                    <img src="/img/client1.png" class="card-img" alt="..."
                                        style="width:auto; height: 100px;">
                                </div>
                                <div class="col-md-8" style="padding: 0;">
                                    <div class="card-body" style="padding: 0;">
                                        <h5 class="card-title" style="margin-bottom: 0;">Lorem ipsum dolor sit amet
                                            Lorem ipsum</h5>
                                        <span class="mr-2" style="color:#1ebba3">Lifestyle</span>&bullet;
                                        <span class="mr-2 ml-2">March 15, 2018 </span> &bullet;
                                        <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include Layouts/Footer -%>