<%- include ../layouts/Header -%>
    <div class="margin" style="height: 56px;"></div>
    <div class="page_content">
        <div class="container">
            <div class="row row-lg-eq-height">
                <div class="col-lg-8">
                    <nav class="navbar navbar-expand-md ">
                        <h3>Blog Của Tôi</h3>
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav ">
                                
                            </ul>
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/writer/cxb" style="border-radius: 20px;background-color: lightgrey;">
                                        <h6 style="margin-bottom: 0;">Chờ Xuất Bản</h6>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/writer/cpd" style="border-radius: 20px;background-color: lightgrey;">
                                        <h6 style="margin-bottom: 0;">Chờ Phê Duyệt</h6>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/writer/btc" style="border-radius: 20px;background-color: lightgrey;">
                                        <h6 style="margin-bottom: 0;">Bị Từ Chối</h6>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/writer/CreateBlog" style="border-radius: 20px;background-color: lightgrey;">
                                        <h6 style="margin-bottom: 0;">Viết Bài</h6>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>