<%- include Layouts/Header -%>
    <div class="margin" style="height: 56px;"></div>
    <div class="page_content">
        <div class="container">
            <div class="row row-lg-eq-height">
                <div class="col-lg-8">
                    <section>
                            <h1 style="width:100%;margin-bottom:0;"><b>Admin</b></h1>
                            <div class="dropdown-divider" 
                                 style="border-top: 2px solid #40474e; width: 100px;margin-top:4px;"></div>
                        <div class="row">
                            <div class="col-md-5">
                                <img src="img/client2.png" style="width:inherit;border-radius: 50%;border: 2px solid #40474e;">
                            </div>
                            <div class="col-md-7">
                                <div class="margin" style="height: 56px;"></div>
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item" style="margin-bottom: 5px;font-size: 20px;"> 
                                        Đoàn Minh Toàn
                                    </li>
                                    <li class="nav-item" style="margin-bottom: 5px;font-size: 20px;">
                                        01238822596
                                    </li>
                                    <li class="nav-item" style="margin-bottom: 5px;font-size: 20px;">
                                        Độc thân, Vui tính, Hòa đồng
                                    </li>
                                    <li class="nav-item" style="margin-bottom: 5px;font-size: 20px;">
                                        Thích Du lịch, Ngắm gái, Nấu Ăn, Đi Quẩy
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown-divider" style="border-top: 2px solid #a2a3a5;"></div>
                        <h1 style="width:100%;margin-bottom:0;"><b>Giới Thiệu</b></h1>
                        <div class="dropdown-divider" 
                            style="border-top: 2px solid #40474e; width: 100px;margin-top:4px;"></div>
                        <p>
                            Sterling Ruby is certainly one of the most charming runway debutants 
                            ever—not at all up himself—and this collection was indeed of an outstanding 
                            standard for a first-timer. However it must be conceded that while a 
                            new-person on the the end of a runway, Ruby comes to the game with 
                            credentials no other debut designer has ever possessed. For not only does he 
                            have 33 years of clothes-making experience (he first started with a sewing 
                            machine aged 13) but he is also an internationally renowned millionaire 
                            contemporary artist with a mighty aesthetic back-catalog to mine.
                        </p>
                    </section>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar" style="background: #ededed;">
                        <div class="text-center">
                            <img src="img/client2.png" style="width:100%;height:auto;">
                        </div>
                        <h3 class="text-center">Đoàn Minh Toàn</h3>
                        <div class="dropdown-divider" style="border-top: 2px solid #a2a3a5;"></div>
                        <div class="pad">
                            <div class="about" style="padding: 15px;">
                                <h6>About</h6>
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item" style="margin-bottom: 3px;">
                                        <i class="fas fa-envelope-square" style="margin-right: 7px;"></i> 
                                        metroairplane@gmail.com
                                    </li>
                                    <li class="nav-item" style="margin-bottom: 3px;">
                                        <i class="fas fa-phone-square" style="margin-right: 7px;"></i>
                                        01238822596
                                    </li>
                                    <li class="nav-item" style="margin-bottom: 3px;">
                                        <i class="fab fa-facebook-square" style="margin-right: 7px;"></i>
                                        www.fb.com/toan.doan.161
                                    </li>
                                    <li class="nav-item" style="margin-bottom: 3px;">
                                        <i class="fas fa-map-marker-alt" style="margin-right: 7px;"></i>
                                        39 Hiệp Nhất, p.4, q.TB, TpHCM
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include Layouts/Footer -%>