<%- include Layouts/Header -%>
    <div class="margin" style="height: 56px;"></div>
    <div class="page_content">
        <div class="container">
            <div class="row row-lg-eq-height">
                <div class="col-lg-8">
                    <section>
                        <h2 style="width:100%;margin-bottom:0;"><b>Bạn có thể liên lạc với chúng tôi thông qua</b></h2>
                        <div class="dropdown-divider" 
                            style="border-top: 2px solid #40474e; width: 100px;margin-top:4px;"></div>
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item" style="margin-bottom: 3px;font-size: 30px;">
                                <i class="fas fa-envelope-square" style="margin-right: 7px;"></i> 
                                metroairplane@gmail.com
                            </li>
                            <li class="nav-item" style="margin-bottom: 3px;font-size: 30px;">
                                <i class="fas fa-phone-square" style="margin-right: 7px;"></i>
                                01238822596
                            </li>
                            <li class="nav-item" style="margin-bottom: 3px;font-size: 30px;">
                                <i class="fab fa-facebook-square" style="margin-right: 7px;"></i>
                                www.fb.com/toan.doan.161
                            </li>
                            <li class="nav-item" style="margin-bottom: 3px;font-size: 30px;">
                                <i class="fas fa-map-marker-alt" style="margin-right: 7px;"></i>
                                39 Hiệp Nhất, p.4, q.TB, TpHCM
                            </li>
                            </ul>
                    </section>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar" style="background: #ededed;">
                        <div class="text-center">
                            <img src="img/client2.png" style="width:100%;height:auto;">
                        </div>
                        <h3 class="text-center">Đoàn Minh Toàn</h3>
                        <div class="dropdown-divider" style="border-top: 2px solid #a2a3a5;"></div>
                        <div class="pad">
                            <div class="about" style="padding: 15px;">
                                <h6>About</h6>
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item" style="margin-bottom: 3px;">
                                        <i class="fas fa-envelope-square" style="margin-right: 7px;"></i> 
                                        metroairplane@gmail.com
                                    </li>
                                    <li class="nav-item" style="margin-bottom: 3px;">
                                        <i class="fas fa-phone-square" style="margin-right: 7px;"></i>
                                        01238822596
                                    </li>
                                    <li class="nav-item" style="margin-bottom: 3px;">
                                        <i class="fab fa-facebook-square" style="margin-right: 7px;"></i>
                                        www.fb.com/toan.doan.161
                                    </li>
                                    <li class="nav-item" style="margin-bottom: 3px;">
                                        <i class="fas fa-map-marker-alt" style="margin-right: 7px;"></i>
                                        39 Hiệp Nhất, p.4, q.TB, TpHCM
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include Layouts/Footer -%>