<%- include ../layouts/Header -%>
    <div class="margin" style="height: 56px;"></div>
    <div class="page_content">
        <div class="container">
            <div class="row row-lg-eq-height">
                <div class="col-lg-8">
                    <nav class="navbar navbar-expand-md ">
                        <h3>Hải Sản</h3>
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/sea" style="border-radius: 20px;background-color: lightgrey;">
                                        <h6 style="margin-bottom: 0;">Tất cả</h6>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/sea/tom-ca" style="border-radius: 20px;background-color: lightgrey;">
                                        <h6 style="margin-bottom: 0;">Tôm Cá</h6>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/sea/cua-oc" style="border-radius: 20px;background-color: lightgrey;">
                                            <h6 style="margin-bottom: 0;">Cua Ốc</h6>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/sea/mon-bien" style="border-radius: 20px;background-color: lightgrey;">
                                            <h6 style="margin-bottom: 0;">Món Biển</h6>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>